@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

h1 {
  font-family: 'Poppins', Arial, sans-serif;
  align-self: center;
  font-size: 2rem;
  margin-bottom: 5px;
}

h3 {
  font-weight: 500;
  padding-left: 10px;
}

p {
  font-family: 'Montserrat', Arial, sans-serif;
  text-align: center;
  font-size: .9rem;
  margin-top: 0;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: .9rem;
  margin-top: 15px;
}

input {
  width: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #0f69df;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1153aa;
}

.aviso-ir {
  display: none;
  margin: 10px 0;
  font-size: 13px;
  color: #2c2c2c;
  background: #fff3cd;
  border-left: 4px solid #f1c40f;
  padding: 8px;
  border-radius: 4px;
}

.resultado {
  margin-top: 20px;
  padding: 5px;
  background: #fcfcfcff;
  border-radius: 5px;
}

.lucro-valor {
  color: green;
}

.ir-valor {
  color: red;
}

.graficoPatrimonio {
  max-width: 700px;
  margin: 20px auto;
  display: none;
}